@using MELC.Core.DomainObjects.Dtos
@using MELC.WebApp.MVC.Extensions
@model RetornoDto<IEnumerable<UserDto>>

@{
	Layout = "_LayoutAdmin";
}

@section Scripts {
    @Url.Script("users")
    <script type="text/javascript" defer>
        $(document).ready(function () { melc.usuarios.iniciar() })
    </script>
}
<!DOCTYPE html>
<html lang="en">
<body>
    <div class="card-body m-2">
            <button onclick="melc.usuarios.newUser()" class="btn btn-primary btn-plus" type="submit">
                <svg class="icon">
                    <use xlink:href="/vendors/coreui/icons/svg/free.svg#cil-plus"></use>
                </svg>
                Usuário
            </button>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th hidden scope="col">#</th>
                        <th scope="col">Usuário</th>
                        <th scope="col">Login</th>
                        <th scope="col">Administrador</th>
                        <th scope="col">Ações</th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var item in Model.Data)
                {
                    <tr id="@item.Id">
                        <th hidden scope="row">@item.Id</th>
                        <td>@item.FullName</td>
                        <td>@item.UserName</td>
                        <td><input type="checkbox" disabled checked=@item.IsAdmin /></td>
                        <td>
                            <ul class="header-nav">
                                <li style="margin-right:3em" class="nav-item">
                                    <a onclick="melc.usuarios.update('@item.Id')" class="nav-link" href="#">
                                        <svg class="icon icon-lg">
                                            <use xlink:href="/vendors/coreui/icons/svg/free.svg#cil-pen"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a onclick="melc.usuarios.deleteUser('@item.Id', '@item.UserName')" class="nav-link" href="#">
                                        <svg class="icon icon-lg">
                                            <use xlink:href="/vendors/coreui/icons/svg/free.svg#cil-user-x"></use>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
@{
    await Html.RenderPartialAsync("~/Views/User/novo-usuario.cshtml");
    await Html.RenderPartialAsync("~/Views/User/editar-usuario.cshtml");
}
</html>
